<form action="faq.php" method="post">

    <input type="hidden" name="id" value="{{id}}" >

    {{errors}}

    <label for="domanda" class="formBig">Domanda
        <input type="text" id="domanda" name="domanda" value="{{domanda}}" autocomplete="off">
    </label>
    <label for="risposta" class="formBig">Risposta
        <input type="text" id="risposta" name="risposta" value="{{risposta}}" autocomplete="off">
    </label>
   
    
    <input type="submit" value="Salva" name="submit" class="btn btn-green" >
    <input type="reset" value="Reset" name="reset" class="btn btn-info"  >
</form>