<div id="login">
    <form action="login.php" method="post">
        {{errors}}
    
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" autocomplete="email" placeholder="Inserisci la tua email" autocapitalize="off">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" autocomplete="current-password" placeholder="Inserisci la tua password">
        
        <input type="submit" name="submit" value="Accedi" class="btn btn-info">
    </form>
</div>
