    <form action="prodotto.php" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id" value="{{id}}" >
        
        {{errors}}
    
        <fieldset>
    
            <legend>Dati principali</legend>
    
            <label for="nome" class="formBig">Nome
                <input type="text" id="nome" name="nome" value="{{nome}}" autocomplete="off">
            </label>
    
            <label for="keywords">Keywords
                <input type="text" id="keywords" name="keywords" value="{{keywords}}" autocomplete="off">
            </label>
            
            <label for="immagine">Immagine
                <input type="file" id="immagine" name="immagine" >
            </label>
    
            {{immagine}}
            
    
        </fieldset>
    
        <fieldset>
    
            <legend>Dati esterni</legend>
    
            <label for="categoria">Categoria
                <select name="categoria" id="categoria" autocomplete="off">
                    {{categorie}}
                </select>
            </label>
    
            <label for="marca">Marca
                <select name="marca" id="marca" autocomplete="off">
                    {{marche}}
                </select>
            </label>
    
        </fieldset>
    
        <fieldset>
    
            <legend>Dati di dettaglio</legend>
        
            <label for="origine">Origine
            <input type="text" id="origine" name="origine" value="{{origine}}" autocomplete="off" data-above="1">
            </label>    
    
            <label for="modello">Modello
                <input type="text" id="modello" name="modello" value="{{modello}}" autocomplete="off" data-above="1">
            </label>
    
            <label for="dimensione">Dimensione
                <input type="text" id="dimensione" name="dimensione" value="{{dimensione}}" autocomplete="off" data-above="1">
            </label>
    
            <label for="peso">Peso
                <input type="text" id="peso" name="peso" value="{{peso}}" autocomplete="off" data-above="1">
            </label>
    
            <label for="prezzo">Prezzo
                <input type="text" id="prezzo" name="prezzo" value="{{prezzo}}" autocomplete="off" data-above="1">
            </label>
    
            <label for="descrizione" class="formBig">Descrizione
                <textarea name="descrizione" id="descrizione" cols="30" rows="10" autocomplete="off">{{descrizione}}</textarea>
            </label>
    
        </fieldset>
    
        <input type="submit" value="Salva" name="submit"  class="btn btn-green" >
        <input type="reset" value="Reset" name="reset"  class="btn btn-info" >
    </form>
