<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
    
	<title>{{title}}</title>
	
    <!-- Meta Tag Keywords, Description ignorati perché la pagina non viene indicizzata dai motori di ricerca-->
    <meta name="author" content="Pop Tech"> 

    <link rel="stylesheet" href="../styles/style.css" media="screen">
    <link rel="stylesheet" href="../styles/mobile.css" media="screen and (max-width: 576px), only screen and (max-device-width: 576px)"> <!-- max-device-width deprecato ma usato da lacuni browser -->
    <link rel="stylesheet" href="../styles/print.css" media="print">

    <link rel="shortcut icon" type="images/png" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../js/script.js"></script>

</head>
<body id="admin_{{pageID}}" onload="{{onload}}">

    <a href="#content" class="srOnly">Vai al contenuto</a>

    {{header}}
    
    <nav id="menu">
        <h1>Area utente <span lang="en">Pop Tech</span></h1>
        <ul> 
            {{menu}}
        </ul>
    </nav>

   
    <nav id="breadcrumbs" aria-label="Percorso">
        {{breadcrumbs}}
    </nav>    
   
	<main id="content">
        
        {{content}}
       
	</main>

    {{footer}}
	
</body>
</html>