<div id="data">
    <form action="login.php" method="post">
    
        {{errors}}
    
        <label for="email" lang="en">Email</label>
        <input type="text" name="email" id="email" placeholder="Inserisci la tua email" autocomplete="email" autocapitalize="off">
        
        <label for="password" lang="en">Password</label>
        <input type="password" name="password" id="password" placeholder="Inserisci la tua password" autocomplete="current-password">
        
        <input type="submit" name="submit" value="Accedi" class="button">
    </form>
</div>
