<div id="data">
    <form action="login.php" method="post">
    
        {{errors}}
    
        <label for="username">Nome Utente</label>
        <input type="text" name="username" id="username" placeholder="Inserisci il tuo nome utente" autocomplete="username" autocapitalize="off">
        
        <label for="password" lang="en">Password</label>
        <input type="password" name="password" id="password" placeholder="Inserisci la tua password" autocomplete="current-password">
        
        <input type="submit" name="submit" value="Accedi" class="button">
    </form>
</div>
