<div id="data">
    <form action="recensione.php" method="post">

        <input type="hidden" name="id" value="{{id}}"/>
    
        {{errors}}
        
        <label for="nome" class="">Prodotto: {{nomeProdotto}}</label>
    
        <input type="hidden" name="utente" value="{{utente}}">
        <input type="hidden" name="prodotto" value="{{prodotto}}">
    
        <label for="contenuto" class="formBig">Contenuto</label>
        <textarea name="contenuto" id="contenuto" cols="30" rows="10">{{contenuto}}</textarea>
        
        <label for="punteggio" class="">Punteggio</label>
        <input type="range" name="punteggio" id="punteggio" min="0" max="5" step="0.5" value="{{punteggio}}">
        
        <input type="submit" value="Salva" name="submit" class="button"/>
        <input type="reset" value="Annulla" name="reset" class="button" />
    </form>
</div>
