<form action="recensione.php" method="post">

    <input type="hidden" name="id" value="{{id}}"/>

    {{errors}}
    
    <label for="nome" class="">Prodotto: {{nomeProdotto}}</label>

    <input type="hidden" name="utente" value="{{utente}}">
    <input type="hidden" name="prodotto" value="{{prodotto}}">


    <label for="contenuto" class="formBig">Contenuto
        <textarea name="contenuto" id="contenuto" cols="30" rows="10">{{contenuto}}</textarea>
    </label>

    <label for="punteggio" class="">Punteggio
        <input type="range" name="punteggio" id="punteggio" min="0" max="5" step="0.5" value="{{punteggio}}">
    </label>
    
    <input type="submit" value="Salva" name="submit" class="btn btn-green"/>
    <input type="reset" value="Annulla" class="btn btn-info" />
</form>