<div id="data">
    <form action="registrazione.php" method="post">
        {{errors}}
    
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" value="{{nome}}" placeholder="Inserisci il tuo nome" autocomplete="name">

        <label for="username">Nome Utente</label>
        <input type="text" name="username" id="username" value="{{username}}" placeholder="Inserisci il tuo nome utente" autocomplete="username">
        
        <label for="email" lang="en">Email</label>
        <input type="text" name="email" id="email" value="{{email}}" placeholder="Inserisci la tua email" autocomplete="email">
        
        <label for="password" lang="en">Password</label>
        <input type="password" name="password" id="password" placeholder="Inserisci la tua password" autocomplete="new-password">
        
        <label for="passwordConfirm">Conferma Password</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" autocomplete="new-password">
        
        <input type="submit" name="submit" value="Salva" class="button">
        <input type="reset" name="reset" value="Annulla" class="button">
    
    </form>
</div>
