<div id="data">
    <form action="registrazione.php" method="post">
        {{errors}}
    
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" value="{{nome}}" placeholder="Inserisci il tuo nome">
        
        <label for="email">Indirizzo email</label>
        <input type="text" name="email" id="email" value="{{email}}" placeholder="Inserisci la tua e-mail">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Inserisci la tua password">
        
        <label for="passwordConfirm">Conferma Password</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">
        
        <input type="submit" name="submit" value="Salva" class="button">
        <input type="reset" name="reset" value="Annulla" class="button">
    
    </form>
</div>
