<footer>
    <a href="privacy.html"><span lang="en">Privacy Policy</span></a>

    Fotografie <a href="https://pexels.com" lang="en" target="_blank">Pexels</a>
    <a href="https://pixabay.com" lang="en" target="_blank">Pixabay</a>
    <a href="https://freepik.com" lang="en" target="_blank">Freepik</a>
    <a href="https://www.adobe.com/express/create/logo" lang="en" target="_blank">Adobe</a>
    <a href="mockups-design.com" lang="en" target="_blank">Mockups Designs</a>
    <a href="https://freemockupzone.com" lang="en" target="_blank">Freemockupzone</a>



    <span><span lang="en">Pop Tech</span> - Padova, Via Trieste, 12 - 2023</span>
</footer>