<picture><img src="{{immagine}}" alt="" ></picture>

<div>
<h1>{{nome}}</h1>
<dl>
    <dt class="srOnly">Descrizione</dt>
    <dd class="comic_box2">{{descrizione}}</dd>
    <dt class="srOnly">Prezzo</dt>
    <dd class="comic_box" id="prezzo">{{prezzo}} &euro;</dd> 
    <dt>Categoria</dt><dd>{{categoria}}</dd>
    <dt>Origine</dt><dd>{{origine}}</dd>
    <dt>Marca</dt><dd>{{marca}}</dd>
    <dt>Modello</dt><dd>{{modello}}</dd>
    <dt>Dimensioni</dt><dd>{{dimensioni}}</dd>
    <dt>Peso</dt><dd>{{peso}}</dd>
</dl>
</div>