/* Monstserrat font - Open Font License https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff');
    font-weight: 700;
    font-style: normal;
    /*bisogna aggiungere lo sfondo arancione/rosso*/
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff');
    font-weight: 300;
    font-style: italic;
}

html,body{
    font-size: 100%;
    line-height: 1.5em;
    height: 100%;
    margin: auto;
}

body{
    max-width: 1920px;
    margin: auto;
    padding: 0em;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
/*Variabili CSS*/
:root{
    --acolor: darkblue;
    --avisitedcolor: purple; 
    --ahovercolor: blue;
    --libgcolor: #444444;
    --liabgcolor: #fff;
    --bordercolor: #000;
    --itemhovercolor: lightgray;
    --btncolor:#FFF;
    --btnbgcolor: #145749; 
    --btnbordercolor: #145749;
    --btninfobordercolor: #227093;
    --btninfobgcolor: #227093; 
    --btndangerbgcolor: #b33939;
    --btndangerbordercolor: #b33939;
    --inputborder: gray;
    --successcolor: #114c3d;
    --successbgcolor: #cdf9eb;
    --successbordercolor: #114c3d;
    --errorcolor: #7a1717;
    --errorbgcolor: #edb7ba;
    --errorbordercolor: #7a1717;
}

a{
    color: var(--acolor);
    text-decoration: underline;
}

a:visited{
    color:var(--avisitedcolor);
}

a:hover{
    color:var(--ahovercolor);
}

/* Menu ========================= */

nav#menu h1{
    flex-grow: 1;
    font-size: 1.3em;
}

nav#menu{
    display: flex;
    padding: 0em 0.2em 0em 0.5em;
    margin: 0.5em;
    border: 1px solid var(--bordercolor);
    border-radius: 0.5em;
}

nav#menu ul{
    padding: 0em;
    display: inline;
}

nav#menu ul li{
    display: inline-block;
    list-style: none;
    padding:0.3em 0.5em 0.3em 0.5em;
    margin-right: 0.25em;
    background-color: var(--libgcolor);
    border-radius: 0.5em;
}

nav#menu ul li a{
    color: var(--liabgcolor);
    text-decoration: none;
}


nav#menu ul li#currentLink{
    background-color: var(--acolor);
    color:#FFF;
}

/* Breadcrumb ========================= */

nav#breadcrumbs{
    margin: 0.5em;
}

/* Utilities ========================= */

.srOnly{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Lista elementi ========================= */

.listItem{
    padding: 0em 0.2em 0em 0.5em;
    margin: 0.5em 0em 0.5em 0em;
    border: 1px solid var(--bordercolor);
    border-radius: 0.5em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
  

.listItem:hover{
    background: var(--itemhovercolor);
}

.listItem span{
    font-weight: bold;
}


/* Recensioni utente ========================= */
.review{
    padding: 0.2em 0.2em 0.2em 0.5em;
    margin: 0.5em 0em 0.5em 0em;
    border: 1px solid var(--bordercolor);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

.review dt{
    font-weight: bold;
    margin: 0.5em 0em 0.5em 0em;
}

.review dd {
    margin: 0.5em 0em 0.5em 0em;
    text-align: center;
}

/* Pulsanti ========================= */

.btn{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    text-align: center;
    padding: .5em 1em .5em 1em;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 3px solid var(--bordercolor);
}

.btn:hover,.btn:focus{
    text-decoration: underline;
    cursor: pointer;
}

.btn-green,.btn-green:visited,.btn-green:hover{
    background-color: var(--btnbgcolor);
    border-color: var(--btnbordercolor);
    color:var(--btncolor);
}
.btn-info, .btn-danger, .btn-green{
    display: inline-block;
    margin: 0.5em;
}


.btn-info,.btn-info:visited,.btn-info:hover{
    background-color: var(--btninfobgcolor);
    border-color: var(--btninfobordercolor);
    color: var(--btncolor);
}

.btn-danger,.btn-danger:visited,.btn-danger:hover{
    background-color: var(--btndangerbgcolor);
    border-color: var(--btndangerbordercolor);
    color: var(--btncolor);
}

/* Form ========================= */

#login form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 30%;
}

#login form input[type=text],#login form input[type=password]{
    margin: 0 auto;
    width: auto;
}

label{
    font-weight: bold;
    display: inline-block;
}

input[type=text],input[type=password],select,textarea{
    display: block;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid var(--inputborder);
}

input[type=submit],input[type=reset]{
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--inputborder);

}

.formBig{
    display: block;
}

.formBig input,.formBig textarea{
    width: 90%;
}

/* Messaggi ========================= */

.message{
    padding: 0.5em;
    border-radius: 0.3em;
    border-width: 1px;
    border-style: solid;
   
}

form ul{
    margin: 0em;
    padding: 0em;
}

form ul li{
    list-style: none;
}

.successMsg,.formSuccess{
    background-color: var(--successbgcolor);
    border-color: var(--successbordercolor);
    color: var(--successcolor);
}

.errorMsg,.formError{
    background-color: var(--errorbgcolor);
    border-color: var(--errorbordercolor);
    color: var(--errorcolor);
}

.formError, #contatti p.formError{
    background-color: var(--errorbgcolor);
    max-width: 80%;
    display: block;
    padding: 0.5em;
    color: rgb(120, 3, 3);
}

.formSuccess, #contatti p.formSuccess{
    background-color: var(--formsuccesscolor);
    padding: 0.5em;
    color: rgb(3, 120, 3);
    width: 80%;
    display: block;
    margin: 0 auto;
}

.fieldError, input[type="text"].fieldError, .fieldError, input[type="password"].fieldError, input[type="email"].fieldError, input[type="tel"].fieldError, textarea.fieldError{
    color: rgb(105, 0, 0);
    /*Placeholder solution -> Seguo la larghezza degli errori o gli input si spostano a lato*/
    width: 100%;
    border-color: var(--errorbordercolor);
}

/* Main Content ========================= */

main{
    padding: 0.5em;
}

main h1{
	padding: 0.3em;
	padding-top: 0.1em;
	text-align: center;
	margin: 0.3em;
}

main h2{
	padding-top: 0.7em;
	padding-bottom: 0.7em;
    margin: 0.3em;
}

form{
    max-width: 100%;
}

label{
    max-width: 100%;
}

select{
    max-width: 95%;
}


#content:after {
    content: "";
    display: block;
}

/* Footer ========================= */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    flex-wrap: wrap;
    margin-top: auto;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
}