:root{

    --chiSiamoGrad1Stop1: #FDC708;
    --chiSiamoGrad1Stop2: #FFF5D1;

    --contattiGrad1Stop1: #55BEF9;
    --contattiGrad1Stop2: #DCF1FD;
    --contattiGrad2Stop1: #FFC671;
    --contattiGrad2Stop2: #FFF27F;

    --bordercolor: #000;
   
}

/* Tema scuro ========================= */

@media (prefers-color-scheme: dark) {
    :root{

        --chiSiamoGrad1Stop1: #c0610e;
        --chiSiamoGrad1Stop2: #894911;
        
        --homeGrad2Stop1: #4f2162;
        --homeGrad2Stop2: #923CB5;

        --contattiGrad1Stop1: #380036;
        --contattiGrad1Stop2: #098e8e;
        --contattiGrad2Stop1: #A71D31;
        --contattiGrad2Stop2: #3F0D12;

        --bordercolor: #FFF;

    }

}

/* Mobile Menu Button ========================= */

header#header #mobileMenuButton{
    display: inline-block;
    cursor: pointer;
    align-self: center;
    text-indent: 200%;
    line-height: 1em;
    font-size: 2.5em;
    overflow: hidden;
    background-image: url(../images/menu.svg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}

/* Header ========================= */

header#header h1{
    background-position: left;
    margin-left: 0.1em;
    font-size: 5em;
}


/* Menu ========================= */

nav#menu{
    opacity: 0;
    margin: 0;
    max-height: 1px;
    overflow-y: hidden;
    text-align: center;
    transition: opacity 0.5s ease-out;
}

nav#menu.show{
    max-height: 100%;
    opacity: 1;
}

nav#menu ul li{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 0.5em 0em 0.5em 0em;
}

nav#breadcrumbs{
    max-width: 100%;
    margin: 0em 0.5em;
}

/* Main Content ========================= */

main#content{
    margin: 0.5em;
    padding: 0em;
}

main#content h1{
    margin: 0.0em;
    line-height: 1.2;
}

/* FAQ Page ========================= */

.faqRow details{
    flex:100% 0 0;
}

/* Home Page ========================= */

#homePage #homeBanner div{
    width: 100%;
}

#homePage #homeBanner{
    text-align: center;
    /*background-color: beige;*/
}

#homePage #homeBanner ul{
    list-style: none;
    padding: 0em;
}

#homePage #homeBanner #slogans{
    flex: 100% 0 1;
    border: 3px solid var(--bordercolor);
    font-size: 1em;
    margin: 0.5em 0em 1em 0em;
    padding: 0.5em;
}

#homePage #homeBanner #slogans ul li{
    margin: 0.5em
}

#homePage #homeBanner #slogans:after{
    display: none;
}

#homePage #homeBanner #picture{
    display: none;
}

/* Product list (Home, Prodotti, Categoria  ========================= */

.categoyList a{
    margin-bottom: 1em;
}


.productsRow{
    justify-content: space-between;
}

.productsRow article{
    flex: 100% 0 1;
    margin-right: 0em;
}

/* Contatti Page ========================= */

#contatti table thead, #contatti table tfoot{
    display: none;
}

#contatti table tr, #contatti table th, #contatti table td{
    display: block;
}

#contatti #modulo_richieste, #contatti #info{
    flex: calc(100% - 6px) 0 0; /* 100% meno la rarghezza dei bordi (3+3) */
    border-bottom:none;
    border-top:none;
    border-left: 3px solid var(--bordercolor);
    border-right: 3px solid var(--bordercolor);
    position: relative;
    margin: 0;
    padding: 0em;
}

#contatti div#modulo_richieste:after,#contatti div#info:before{
    width: 100%;
    height: 15%;
    bottom: 0px;

    transform-origin: bottom left;
    -ms-transform: skew(0deg, -5deg);
    -webkit-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
}

#contatti #modulo_richieste{
    margin-bottom: 25%;
    border-top: 3px solid var(--bordercolor);
    padding-bottom: 2em;
}

#contatti #info{
    border-bottom: 3px solid var(--bordercolor);
}

#contatti div#modulo_richieste:after{
    top:99%;
    left: -3px;
    background-image: linear-gradient(to top, var(--contattiGrad1Stop1), var(--contattiGrad1Stop1));
}


#contatti div#info:before{
    top: -4px;
    left: -3px;
    background-image: linear-gradient(to bottom, var(--contattiGrad2Stop1), var(--contattiGrad2Stop1));
}

#contatti h2{
    margin: 0em;
    padding: 0.5em 0em 0.5em 0em;
    max-width: 100%;
}

/* Responsive Table  ========================= */

th[data-title]:before, td[data-title]:before{
    content: attr(data-title) ":\00A0";
    font-weight: bold;
}

/* Prodotto Page  ========================= */

#prodotto picture, #prodotto div{
    flex: 100% 0 1;
}

#prodotto .comic_box{
    max-width: 100%;
}
/* Chi Siamo Page ========================= */

#chiSiamo .outer-container{
    margin: 0em;
}

#chiSiamo .text-container,#chiSiamo .img-container{
    border-top:none;
    border-bottom:none;
    border-left: solid 3px var(--bordercolor);
    border-right: solid 3px var(--bordercolor);
    padding: 0.2em;
}

#chiSiamo .first .text-container{
    border-top: solid 3px var(--bordercolor);
    border-bottom: none;
    flex: 100% 0 1;
    padding-right: 0.5em;
}

#chiSiamo .second .text-container{
    border-bottom: solid 3px var(--bordercolor);
    border-top: none;
    flex: 100% 0 1;
}

#chiSiamo .img-container{
    flex: 100% 0 1;
    min-height: 30vh;
   
}

#chiSiamo .first .img-container{
    border-bottom: solid 3px var(--bordercolor);
    margin: 4em 0em 2em 0em;
}

#chiSiamo .second .img-container{
    border-top: solid 3px var(--bordercolor);
    margin-bottom: 4em;
}


#chiSiamo .first .text-container:after,#chiSiamo .second .text-container:before,
#chiSiamo .first .img-container:before,#chiSiamo .second .img-container:after
{
    width: 100%;
    height: 15%;
    bottom:0px;
   
    transform-origin: bottom left;
    -ms-transform: skew(0deg, -5deg);
    -webkit-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
}



#chiSiamo .first .text-container:after{
    left:-3px; 
    top:89%;
}

#chiSiamo .second .text-container:before{
    left:-3px; 
    top: -1%;
}

#chiSiamo .first .img-container:before{
    left:-3px;
    top:-2%;
    width: calc(100% - 0px);
    background-image: linear-gradient(to bottom, var(--chiSiamoGrad1Stop1), var(--chiSiamoGrad1Stop1));
}

#chiSiamo .second .img-container:after{
    right:-3px; 
    top: 98%;
    background-image: linear-gradient(to bottom, var(--contattiGrad1Stop1), var(--contattiGrad1Stop1));
}

#chiSiamo h2{
    text-align: center;
}

#chiSiamo ul.membristaff li{    
    flex: 100% 0 1;
    padding: 0.2em;
    margin-top: 0.5em;
}

#chiSiamo ul.membristaff li img{
    max-width: 100%;
}

/* Area utente  ========================= */
#data{
    margin: 0em;
    padding: 0.5em;
}
