html,body{
    font-size: 12pt;
    line-height: 1.5em;
}

body{
    margin: auto;
    font-family: "Times New Roman", serif;
}

/* Header ========================= */

header#header h1{
    height: 3cm;
    width: auto;
    content: url(../images/logo.svg);
    margin-left: auto;
    margin-right: auto;
}

/* Footer ========================= */

footer{
    margin-top: 0.5cm;
    text-align: center;
}

/* Utilities ========================= */

#mobileMenuButton{
    display: none;
}

.srOnly{
    display: none;
}

footer a{
    display: none;
}

/* Navigation ========================= */

#menu{
    display: none;
}

/* Main Content ========================= */

main#content .button{
    display: none;
}

/* Home Page ======================== */

#homePage h2{
    text-align: center;
}

#homePage #homeBanner img{
    display: none;
}

/* Category ========================= */

.categoryTitle{
    font-size: 0.7cm;
    display: inline-block;
    text-transform: uppercase;
}

/* Product list (Home, Prodotti, Categoria =========================*/

.productsRow{
    display: block;
}

.productsRow article{
    height: 4.5cm;
}

.productsRow article img{
    max-height: 4cm;
    float: left;
    margin-right: 0.5cm;
}

.productsRow article a.button{
    display: none;
}

/* Chi Siamo Page ========================= */

#chiSiamo img{
    display: none;
}

#chiSiamo .membro img{
    display: inline;
    float: left;
    max-height: 3.3cm;
}

#chiSiamo h2#staff{
    margin-top: 3cm;
}

#chiSiamo ul{
    list-style: none;
    margin: 0em;
    padding: 0em;
}

/* Contatti ========================= */
#contatti #modulo_richieste{
    display: none;
}

#contatti .button{
    display: none;
} 

#contatti figure{
    display: none;
}

#contatti #timetable{
    border: solid 0.1cm black;
    border-collapse: collapse;
    text-align: center;
}

#contatti #timetable thead{
    border-bottom: solid 0.1cm black;
}

#contatti #timetable tr, #contatti #timetable th, #contatti #timetable td{
    padding:0.5em;
}

/* FAQ: Domande e Risposte */

#FAQ summary{
    font-weight: bold;
}

/* Prodotto Page ========================= */

#prodotto picture>img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 8cm;
}

#prodotto dl{
    margin-bottom: 0.7cm;
}

#prodotto dd#prezzo{
    margin: 5mm;
    font-weight: bold;
    font-size: 0.7cm;
}

#prodotto dt{
    float: left;
    margin-right: 0.3cm;
    font-weight: bold;
}

#prodotto img{
    display: inline-block;
    max-height: 0.5cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
}

#prodotto .comic_box p{
    margin-top: 0cm;
    margin-bottom: 0.5cm;
}
/* Pulsante torna in cima ============== */

#goUpButtton,#goUpButtton.show{
    display: none;
}


/* Area Utente ========================= */

body#user_prodotti{
    display: none;
}

body#user_registrazione label, body#user_login label{
    display: block;
}

body#user_registrazione label::after, body#user_login label::after{
    content: ":";
}

body#user_registrazione input, body#user_login input, body#user_profilo .password{
    display: none;
}

body#user_recensione dt{
    font-weight: bold;
}

body#user_recensione dt::after{
    content: ":";
}

body#user_recensione dd{
    margin-left: 0.5cm;
    margin-bottom: 0.3cm;
}

body#user_recensione .punteggio{
    display: inline;
}

/* Area Admin ========================= */

.btn, textarea, select{
    display: none;
}

#admin_prodotto label, #admin_categoria label:not(.checkbox), #admin_utente label:not(.checkbox), #admin_recensione label, #admin_faq label, #admin_loginPage label{
    display: block;
}

#admin_prodotto label::after, #admin_categoria label:not(.checkbox)::after, #admin_marca label::after, #admin_utente label:not(.checkbox)::after, #admin_recensione label::after, #admin_faq label::after, #admin_loginPage label::after{
    content: ":";
}

#admin_prodotto input, #admin_categoria input:not(#inPrimaPagina), #admin_marca input,  #admin_utente input:not(#admin), #admin_recensione input, #admin_faq input, #admin_loginPage input{
    display: none;
}

#admin_prodotto #breadcrumbs, #admin_categoria #breadcrumbs, #admin_marca #breadcrumbs,  #admin_utente #breadcrumbs, #admin_recensione #breadcrumbs, #admin_faq #breadcrumbs{
    display: none;
}

#admin_prodotti #breadcrumbs, #admin_categorie #breadcrumbs, #admin_marche #breadcrumbs,  #admin_utenti #breadcrumbs, #admin_recensioni #breadcrumbs, #admin_faqs #breadcrumbs, #admin_loginPage #breadcrumbs{
    display: none;
}