html,body{
    font-size: 12pt;
    line-height: 1.5em;
}

body{
    margin: auto;
    font-family: "Times New Roman", serif;
}

/* Header ========================= */

header#header h1{
    /*text-indent:100%;
    white-space:nowrap;
    overflow:hidden;*/
    height: 3cm;
    width: auto;
    content: url(../images/logo.svg);
    margin-left: auto;
    margin-right: auto;
}

/* Footer ========================= */

footer{
    margin: 5mm;
}

/* Utilities ========================= */

#mobileMenuButton{
    display: none;
}

.srOnly{
    display: none;
}

footer a{
    display: none;
}

/* Navigation ========================= */

#menu{
    display: none;
}

/* Main Content ========================= */

main#content .button{
    display: none;
}

/* Home Page ======================== */

#homePage h2{
    text-align: center;
    text-transform: uppercase;
}

#homePage #homeBanner img{
    display: none;
}

/* Category ========================= */

.categoryTitle{
    display: inline-block;
}

/* Product list (Home, Prodotti, Categoria =========================*/

.productsRow{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
}

.productsRow article{
    flex: 18% 0 0;
    border: 1px solid black;
    margin-right: 1em;
    margin-bottom: 1em;
}

.productsRow article img{
    width: 100%;
    height: auto;
}

.productsRow article a.button{
    display: none;
}

/* Chi Siamo Page ========================= */

#chiSiamo img{
    display: none;
}

/* Contatti ========================= */
#contatti #modulo_richieste{
    display: none;
}

#contatti .button{
    display: none;
} 

#contatti figure{
    display: none;
}

/* Prodotto Page ========================= */

#prodotto dd#prezzo{
    margin: 5mm;
    font-weight: bold;
    font-size: 1cm;
}

#prodotto dt{
    font-weight: bold;
}
