html,body{
    font-size: 100%;
    line-height: 1.5em;
}

body{
    max-width: 1920px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header ========================= */

header#header{
    display: flex;
    flex-grow: 0;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
}

header#header h1{
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    font-size: 10em;
    line-height: 1em;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin:0.2em;
}

footer{
    padding:1em;
    margin-top:1em;
    border: 1px solid black;
}


/* Utilities ========================= */

.srOnly{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Navigation ========================= */

nav#menu ul{
    margin:0em;
    padding: 0em;
}

nav#menu ul li{
    list-style: none;
    display: inline-block;
}
nav#menu a{
    text-decoration: none;
}

#mobileMenuButton{
    display: none;
}

/* Make the login link appear on the far right */
#loginLink {
    float: right;
}

/* Anchor Links ========================= */

a{
    text-decoration: underline;
    color:darkslategrey;
}

a:visited{
    color:blue;
}

a:hover{
    color:blueviolet;
}

a.button{
    border: 1px solid black;
    padding: .5em 1em .5em 1em;
    display: inline-block;
}

/* Main Content ========================= */

main{
    padding: 0.5em;
}

main h1{
	padding: 0.7em;
	padding-top: 0.1em;
	text-align: center;
	line-height: 1.5em;
}

main h2{
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}


/* Home Page ======================== */

#homePage h2{
    text-align: center;
    text-transform: uppercase;
}

#homePage #homeBanner{
    display: flex;
   
    flex-direction: row;
}

#homePage #homeBanner div, #homePage #homeBanner img{
    flex: 50% 0 0;
}

/* Category ========================= */

.categoryTitle{
    display: inline-block;
}

/* Product list (Home, Prodotti, Categoria ========================= */

.productsRow{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
}

.productsRow article{
    flex: 18% 0 0;
    border: 1px solid black;
    margin-right: 1em;
    margin-bottom: 1em;
}

.productsRow article img{
    width: 100%;
    height: auto;
}

.productsRow article a.button{
    display: block;
}

/* Chi Siamo Page ========================= */

#chiSiamo .img-left{
    float:left;
    width: 30%;
    margin-right: 0.5em;
}

#chiSiamo .img-right{
    float:right;
    width: 30%;
    margin-left: 0.5em;
}

#chiSiamo ul.membristaff{
    padding: 0em;
}

/* Contatti ========================= */

#contatti{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contatti form label{
    display: block;
}

#contatti div, #contatti figure{
    flex: 33% 0 0;
}

#contatti figure{
    margin: 0em;
}

#contatti img{
    max-width: 100%;
}

/* Prodotto Page ========================= */

#prodotto main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#prodotto figure{
    flex: 33% 0 0;
    margin: 0em;
}

#prodotto figure img{
    max-width: 100%;
}

#prodotto div{
    flex: 67% 0 0;
}

/* Form ========================= */

#inputForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#inputForm label {
    display: block;
    margin-bottom: 5px;
}
  
#inputForm input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#inputForm input[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Tema scuro ========================= */

@media (prefers-color-scheme: dark) {
	html {

    }
		
	img:not(.ignore-color-scheme),video:not(.ignore-color-scheme) {
		
	}
	.ignore-color-scheme {
		
	}
}

/* Eventuali alternative:

html.dark-mode {
    filter: invert(100%);
}

html.dark-mode img {
    filter: invert(100%);
}
:not(img) { filter: invert(100%) } */
