html,body{
    font-size: 100%;
    line-height: 1.5em;
}

body{
    max-width: 1920px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header ========================= */

header#header{
    display: flex;
    flex-grow: 0;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
}

header#header h1{
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    font-size: 10em;
    line-height: 1em;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin:0.2em;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 0.5em;
    border: 3px solid black;
}


/* Utilities ========================= */

.srOnly{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Navigation ========================= */

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 0.5em;
    border: 3px solid black;
}

nav#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 4px;
    margin-right: -4px;
}

nav#menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 4px;
}

nav#menu a{
    text-decoration: none;
    display: block;
    width: 8em;
}

#mobileMenuButton{
    display: none;
}

/* Make the login link appear on the far right */
#loginLink {
    float: right;
}

/* Anchor Links ========================= */

a{
    text-decoration: underline;
    color:darkslategrey;
}

a:visited{
    color:blue;
}

a:hover{
    color:blueviolet;
}

a.button{
    border: 1px solid black;
    border-radius: 2em;
    padding: .5em 1em .5em 1em;
    display: inline-block;
}

/* Main Content ========================= */

main{
    padding: 0.5em;
}

main h1{
	padding: 0.7em;
	padding-top: 0.1em;
	text-align: center;
	line-height: 1.5em;
}

main h2{
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}


/* Home Page ======================== */

#homePage h2{
    text-align: center;
    text-transform: uppercase;
}

#homePage #homeBanner{
    display: flex;
    flex-direction: row;
}

#homePage #homeBanner div, #homePage #homeBanner img{
    flex: 50% 0 0;
}

/* Category ========================= */

.categoryTitle{
    display: inline-block;
    margin: 0.3em;
}

/* Product list (Home, Prodotti, Categoria ========================= */

.productsRow{
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 1.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    clear: both;
}

.productsRow article h2{
    font-size: 20px;
    color: black;
    margin: 0 0 0.5em 0;
    line-height: 1.1;
}

.productsRow article{
    flex: 18% 0 0;
    border: 3px solid black;
    border-radius: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.productsRow article img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.productsRow article a.button{
    text-align: center;
    display: block;
    padding: 0.5em;
    cursor: pointer;
    width: 50%;
    margin: auto;
}

/* Chi Siamo Page ========================= */

#chiSiamo .outer-container {
    padding: 0.5em;
    height:auto;
    overflow: hidden;
    border: solid 2px black;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
    overflow: hidden;
    border-radius: 1em;
}

#chiSiamo .outer-container .img-left{
    float: left;
    width: 30%;
    display: block;
    margin-right: 0.5em;
    border: 3px solid black;
}

#chiSiamo .outer-container .img-right{
    float:right;
    width: 30%;
    display: block;
    margin-right: 0.5em;
    border: 3px solid black;
}

#chiSiamo .who-title{
    text-align: center;
}

#chiSiamo ul.membristaff{
    padding: 0em;
    margin: 0em;
    text-align: center;

}

#chiSiamo ul.membristaff li{
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 1em;
    width: 30%;
}

#chiSiamo ul.membristaff li img{
    width: 100%;
    height: auto;
    overflow: hidden;
}



/* Contatti ========================= */

#contatti{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contatti form label{
    display: block;
}

#contatti div, #contatti figure{
    flex: 33% 0 0;
}

#contatti figure{
    margin: 0em;
}

#contatti img{
    max-width: 100%;
}

/* Prodotto Page ========================= */

#prodotto main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#prodotto figure{
    flex: 33% 0 0;
    margin: 0em;
}

#prodotto figure img{
    max-width: 100%;
}

#prodotto div{
    flex: 67% 0 0;
}

.product-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: left;
}

/* Form ========================= */

#inputForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#inputForm label {
    display: block;
    margin-bottom: 5px;
}
  
#inputForm input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#inputForm input[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Tema scuro ========================= */

@media (prefers-color-scheme: dark) {
	html {

    }
		
	img:not(.ignore-color-scheme),video:not(.ignore-color-scheme) {
		
	}
	.ignore-color-scheme {
		
	}
}

/* Fumetti ========================= */
.comic_box {
    width: 300px;
    margin: auto;
    border: 3px solid black;
    background: #fff;
    padding: 0.2em;
    text-align: center;
    font-weight: 900;
    position: relative;
    /*Align this div left*/
    float: left;
}

/* Freccia del fumetto in basso a sinistra */ 
.comic_box:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid black;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    left: 22px;
    bottom: -21px;
}
  
.comic_box:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: 25px;
    bottom: -14px;
}

/* Font titolo categoria */ 
.comic-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: left;
    color: #000080;
}

.comic-page-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: left;
    color: #000;
    text-align: center;
}

/* Fumetti FAQ: Domande e Risposte */

/* Create a container for the questions and answers */
.faq_container{
    width: 100%;
    margin: auto;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    clear: both;
}

.circular-question {
    width: 200px;
    border: 5px solid #000;
    padding: 2em;
    margin: 1em;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    color: #000;
    
}

.circular-answer {
    width: 200px;
    border: 5px solid #000;
    padding: 2em;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #000;
}

/* Cerchi in basso a destra */

.circle1 {
    border: 5px solid #000;
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: -30px;
    bottom: 23px;
}
  
.circle1:before {
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
}
  
.circle2 {
    border: 5px solid #000;
    position: absolute;
    width: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    right: -60px;
    bottom: 5px;
}
  
/*Cerchi in basso a sinistra*/

.circle3 {
    border: 5px solid #000;
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    left: -20px;
    bottom: 10px;
}
  
.circle3:before {
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
}
  
.circle4 {
    border: 5px solid #000;
    position: absolute;
    width: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    left: -60px;
    bottom: 5px;
}
  